.footer {
  position: relative;
  overflow: hidden;
}

.footer::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,150,0,1) 50%, rgba(255,255,0,1) 100%);
  animation: gradient 3s linear infinite;
}

@keyframes gradient {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.glowing-text {
  color: #fff;
  text-shadow: 0 0 5px rgb(36, 191, 109), 0 0 10px rgb(47, 163, 170), 0 0 15px rgb(56, 138, 228);
}
